.panel-heading {
  height: 4em;
  margin-bottom: 1em;
  padding:5px 0 5px 10px;
}

.panel-body {
    height: 350px;
}

.btn-group {
    margin-top: 18px;


}

.container {
    font-size: x-large;
    min-width: 250px;
}

h1.panel-title {
    font-size: xx-large;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    margin-top: -15px;
    color: rgb(240, 215, 55);
    /*border: 1px solid black;*/
}



ul {
    list-style: none;
    justify-content: left
}

li {
    background-color: #EEE;
    width: 40%;
    border-radius: 3px;
    margin-left: -35px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
#UN {
    padding-left: 5px;
}
#MC {
    text-align: right;
    postion: absolute;
    float: right;
    margin-right: 5px;
}
.response {
    float:right;
    text-align: right;
    background-color: rgb(223,241, 215);
    width:40%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-right: 5px;

}
#prompt {
    padding-left: 5px;
    margin-left: 20px;
    margin-right: 5px;
    font-size: normal;
}


    /*.col-md-12 {
        max-width:100%;
        overflow-y:auto;
        overflow-x:hidden;
    }*/

.col-xs-12 {
    max-height:300px;
    max-width:100%;
    overflow-y:auto;
    overflow-x:hidden;
}

.glyphicon-sunglasses {
    font-size: x-large;
    padding-top: 15px;
}

h4 {
  padding-top: 5em;
}
.btn-group {
  padding: 0px 0px 0px 0px;
}
.glyphicion-remove {
    padding-right: .2em;
    margin-top: -20px;

}
